
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>权限管理</h2>

<h4>权限列表</h4>
<table class="con-table mt-10 circle">
    <thead>
        <tr>
            <td>权限名称</td>
            <td>添加时间</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody id="pr"></tbody>
</table>
<!--分页-->
<div class="page-div">
</div>


<h4 style="margin-top:30px;">添加权限</h4>

<form id="fr_editRole" action="" method="post">
    权限名称：<input type="text" id="txt_RoleName" name="RoleName" />
    <input type="submit" value="添加权限" />
    <input type="reset" id="rst" value="重置" />
</form>


@section scripts{
    <script src="~/Scripts/Role/Index.js"></script>
}




