
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!--添加样式-->
}


<h2>规则管理</h2>

<h4>规则列表</h4>

<table class="con-table mt-10 circle">
    <thead>
        <tr>
            <td>规则名称</td>
            <td>规则内容</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody id="pr"></tbody>
</table>

<!--分页-->
<div class="page-div">
</div>


<h4 style="margin-top:30px;">添加规则</h4>

<form id="fr_editRule" action="" method="post">
    规则名称：<input type="text" id="txt_RuleName" name="RuleName" />
    规则内容：<input type="text" id="txt_RuleDetail" name="RuleDetail" />

    <input type="submit" value="添加规则" />
    <input type="reset" id="rst" value="重置" />
</form>


@section scripts{
    <script src="~/Scripts/Rule/index.js"></script>
}


















