body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*后台新分页*/
.page-div {
    float: left;
    margin-top: 10px;
    border-right: none;
    width: 99.5%;
}

    .page-div a {
        display: inline-block;
        float: left;
        padding: 8px 12px;
        text-align: center;
        border: 1px solid #dbdbdb;
        font-size: 14px;
        color: #323a45;
        margin-right: 1px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        behavior: url(../PIE.htc);
        background-color: #fff;
    }

        .page-div a:hover {
            color: #14c4e6;
        }

    .page-div .page-now {
        background-color: #14c4e6;
        color: #fff;
    }

        .page-div .page-now:hover {
            background-color: #14c4e6;
            color: #fff;
        }

.sortpage-number {
    margin-right: 3px;
    font-size: 14px;
    float: left;
    color: #c4c4c4;
    height: 30px;
    line-height: 30px;
}

    .sortpage-number span {
        margin: 0px 7px;
    }


/*－－表格－－*/
.con-table {
    border-top: 1px solid #e5e7eb;
    width: 99.5%;
    float: left;
    font-size: 12px;
    background-color: #fff;
}

    .con-table thead {
        color: #323a45;
    }

        .con-table thead tr td {
            color: #323a45;
            font-weight: bold;
            font-weight: bold;
        }

    .con-table tr {
        height: 35px;
        line-height: 35px;
        border-bottom: 1px solid #e5e7eb;
    }

        .con-table tr td {
            border-left: 1px solid #e5e7eb;
            border-right: 1px solid #e5e7eb;
            text-align: left;
            text-indent: 8px;
            color: #777;
        }

            .con-table tr td a {
                color: #54b5df;
                padding-bottom: 2px;
            }

                .con-table tr td a:hover {
                    border-bottom: 1px solid #54b5df;
                }

    .con-table tbody tr:hover {
        background-color: #f4f4f4;
    }

    .con-table tr td input {
        display: block;
    }

    .con-table .tr-bg {
        background-color: #efefef;
    }

    .con-table .td-sign {
        border-left: none;
    }

    .con-table .td-sign-1 {
        background-color: #f9a94a;
    }

    .con-table .td-sign-2 {
        background-color: #54b5dc;
    }

    .con-table .td-sign-3 {
        background-color: #8fc556;
    }

    .con-table p {
        width: 570px;
        overflow: hidden;
        height: 18px;
    }

        .con-table p span {
            margin-right: 30px;
        }

    .con-table .p-font1 {
        font: 14px/18px '宋体';
        color: #5c5c5c;
        width: 99%;
    }

    .con-table .p-font2 {
        font: 12px/18px '宋体';
        color: #c4c8cb;
        width: 99%;
    }

.span-hut130 {
    width: 130px;
    float: left;
    display: inline-block;
    color: #777;
    text-decoration: none;
    cursor: pointer;
    line-height: 25px;
}

.span-div {
    position: absolute;
    top: 15px;
    left: 30px;
    display: none;
    background-color: #fff;
    width: 150px;
    height: 75px;
    border: 1px solid #D4D4D4;
    z-index: 10;
}

    .span-div ul li {
        width: 100%;
        height: 25px;
        line-height: 25px;
        border-bottom: 1px solid #D4D4D4;
    }

        .span-div ul li.noborder {
            border-bottom: none;
        }

.con-table-tdl {
    position: relative;
}

.con-table td.con-table-tdl:hover .span-div {
    display: block;
}

/*表格内的标记*/
.con-table tbody .tr-gray {
    background-color: #e4e4e4;
    word-wrap: break-word;
    word-break: break-all;
}

ul {
    list-style-type: none;
}
/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(../images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(../images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(../images/onLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}